header {
   background: var(--element-color);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.5rem var(--side-margin);
   width: 100%;
   height: var(--header-height);
   box-shadow: var(--element-shadow);
   position: fixed;
   top: 0;
   z-index: 2;
   font-size: 16px;
}

header h1 {
   font-size: inherit;
   font-weight: 800;
}

header .dark-mode {
   font-size: inherit;
   font-weight: 600;
}

.dark-mode:hover {
   cursor: pointer;
}

@media (min-width: 800px) {
   header {
      font-size: 20px;
   }
}